.pagination {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--size-4);
}

.btn {
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  color: var(--color-1-1);
  cursor: pointer;
}

.btn:hover {
  color: var(--color-2-1);
}

.btn:disabled {
  visibility: hidden;
}

.icon {
  display: block;
  font-size: var(--font-size-9);
  margin: 0 auto;
}

.page {
  color: var(--color-1-2);
  font-size: var(--font-size-3);
}
