.loader {
  animation: spin 2s linear infinite;
  border: var(--size-2) solid var(--color-1-2);
  border-radius: 50%;
  border-top: var(--size-2) solid var(--color-white);
  height: 16rem;
  margin: 0 auto;
  width: 16rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
