.topicCard {
  background-color: var(--color-white);
  border: var(--border-primary);
  border-radius: var(--border-radius);
  margin-bottom: var(--size-2);
  padding: var(--size-1) var(--size-3);
}

.title {
  font-size: var(--font-size-6);
  font-weight: 600;
  margin-bottom: var(--size-1);
}

.link {
  color: var(--color-1-1);
  text-decoration: none;
}

.link:hover {
  color: var(--color-2-1);
}

.link:active {
  color: var(--color-1-1);
}

.details {
  color: var(--color-1-2);
}
