.topicCard {
  border: 2px solid var(--color-primary);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

.title {
  margin-bottom: 0.8rem;
}

.link {
  color: var(--color-primary);
  text-decoration: none;
}

.link:hover {
  color: var(--color-secondary);
}

.link:active {
  color: var(--color-gray);
}
