.commentAdder {
  margin-bottom: var(--size-4);
}

.commentText {
  border: var(--border-primary);
  border-radius: var(--border-radius);
  height: 20rem;
  margin-bottom: var(--size-1);
  min-width: 100%;
  padding: var(--size-1);
  resize: none;
}

.commentText:focus {
  border: var(--border-secondary);
}

.commentBtn {
  background-color: var(--color-white);
  border: var(--border-primary);
  border-radius: var(--border-radius);
  color: var(--color-1);
  cursor: pointer;
  padding: var(--size-0);
}

.commentBtn:hover,
.commentBtn:focus {
  border: var(--border-secondary);
  color: var(--color-2);
}
