.commentAdder {
  margin-bottom: var(--size-2);
}

.commentText {
  border: var(--border-primary);
  border-radius: var(--border-radius);
  height: 20rem;
  margin-bottom: var(--size-0);
  min-width: 100%;
  padding: var(--size-1);
  resize: none;
}

.commentText:focus {
  border: var(--border-secondary);
}

.commentBtn {
  background-color: var(--color-2-1);
  border: var(--border-primary);
  border-radius: var(--border-radius);
  color: var(--color-white);
  cursor: pointer;
  padding: var(--size-0) var(--size-1);
}

.commentBtn:hover,
.commentBtn:focus {
  background-color: var(--color-white);
  border: var(--border-secondary);
  color: var(--color-2-1);
}
