.btns {
  margin-top: var(--size-1);
}

.btn {
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  color: var(--color-1-1);
  cursor: pointer;
  font-size: var(--font-size-9);
  height: var(--size-4);
  width: var(--size-4);
}

.btn:hover {
  color: var(--color-2-1);
}

.icon {
  display: block;
  margin: 0 auto;
}
