.nav {
  margin-top: var(--size-1);
}

.list {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 37.5em) {
  .list {
    flex-direction: row;
  }
}

.listItem {
  cursor: pointer;
  margin-bottom: var(--size-1);
}

.listItem:nth-child(2) {
  margin-bottom: 0;
}

@media only screen and (max-width: 37.5em) {
  .listItem {
    margin-bottom: 0;
    margin-right: var(--size-1);
  }

  .listItem:last-child {
    margin-right: 0;
  }
}

.link {
  border-radius: var(--border-radius);
  color: var(--color-1-1);
  display: block;
  display: flex;
  padding: var(--size-0) var(--size-0);
  text-decoration: none;
  width: 100%;
}

.icon {
  display: block;
  width: var(--size-3);
}

@media (hover: hover) and (pointer: fine) {
  .listItem:hover .link {
    background-color: var(--color-3-2);
    color: var(--color-2-1);
  }
}

.topicItem {
  margin-bottom: var(--size-0);
  padding-left: var(--size-3);
}

@media only screen and (max-width: 37.5em) {
  .topicItem {
    display: none;
  }
}

.topicItem .link {
  color: var(--color-1-2);
}
@media (hover: hover) and (pointer: fine) {
  .topicItem:hover .link {
    background-color: var(--color-3-2);
    color: var(--color-2-1);
  }
}

.topic {
  font-size: var(--font-size-2);
}
