.nav {
  margin-top: var(--size-1);
}

.list {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 37.5em) {
  .list {
    flex-direction: row;
  }
}

.listItem {
  cursor: pointer;
  margin-bottom: var(--size-1);
}

.listItem:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 37.5em) {
  .listItem {
    margin-bottom: 0;
    margin-right: var(--size-1);
  }

  .listItem:last-child {
    margin-right: 0;
  }
}

.link {
  border-radius: var(--border-radius);
  color: var(--color-1-1);
  display: block;
  padding: var(--size-0) var(--size-0);
  text-decoration: none;
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .listItem:hover .link {
    background-color: var(--color-3-2);
    color: var(--color-2-1);
  }
}
