* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

*:focus {
  outline-color: var(--color-2-1);
}

::selection {
  background-color: var(--color-2-1);
  color: var(--color-white);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 56.25%;
  }
}

body {
  background-color: var(--color-3-1);
  color: var(--color-1-1);
  font-family: var(--font-family);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

ol,
ul {
  list-style: none;
}

input,
select {
  font-size: 100%;
}
