* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

*:focus {
  outline-color: var(--color-secondary);
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

html {
  box-sizing: border-box;
  font-size: 50%;
  scroll-behavior: smooth;
}

/* > 600px */
@media only screen and (min-width: 37.5em) {
  html {
    font-size: 56.25%;
  }
}

/* > 900px */
@media only screen and (min-width: 56.25em) {
  html {
    font-size: 62.5%;
  }
}

body {
  background-color: var(--color-white);
  color: var(--color-gray);
  font-family: var(--font-primary);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

ol,
ul {
  list-style: none;
}

input,
select {
  font-size: 100%;
}
