.postCard {
  border: var(--border-primary);
  border-radius: var(--border-radius);
  margin-bottom: var(--size-2);
  padding: var(--size-1) var(--size-2);
}

.title {
  margin-bottom: var(--size-1);
}

.link {
  color: var(--color-primary);
  text-decoration: none;
}

.link:hover {
  color: var(--color-secondary);
}

.link:active {
  color: var(--color-gray);
}
