.btns {
  margin-top: var(--size-1);
}

.upBtn,
.downBtn {
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  color: var(--color-primary);
  cursor: pointer;
  font-size: var(--font-size-3);
  height: var(--size-4);
  width: var(--size-4);
}

.upBtn:hover,
.downBtn:hover {
  color: var(--color-secondary);
}

.upBtn:disabled,
.downBtn:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

.upIcon,
.downIcon {
  display: block;
  margin: 0 auto;
}
