.comment {
  border: var(--border-primary);
  border-radius: var(--border-radius);
  margin-bottom: var(--size-2);
  padding: var(--size-1) var(--size-2);
}

.deleteBtn {
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  color: var(--color-danger);
  cursor: pointer;
  font-size: var(--font-size-3);
  height: var(--size-4);
  width: var(--size-4);
}

.deleteBtn:hover {
  color: var(--color-grey);
}

.deleteBtn:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

.deleteIcon {
  display: block;
  margin: 0 auto;
}
