.comment {
  background-color: var(--color-white);
  border: var(--border-primary);
  border-radius: var(--border-radius);
  margin-bottom: var(--size-2);
  padding: var(--size-1) var(--size-3);
}

.user {
  font-size: var(--font-size-2);
}

.date {
  color: var(--color-1-2);
  font-size: var(--font-size-1);
  margin-bottom: var(--size-1);
}

.body {
  margin-bottom: var(--size-1);
}

.deleteBtn {
  background-color: var(--color-danger);
  border: var(--border-danger);
  border-radius: var(--border-radius);
  color: var(--color-white);
  cursor: pointer;
  display: block;
  height: var(--size-3);
  margin: 0 0 0 auto;
  padding: var(--size-0) var(--size-1);
}

@media (hover: hover) and (pointer: fine) {
  .deleteBtn:hover {
    background-color: var(--color-white);
    color: var(--color-danger);
  }
}
