.header {
  align-items: center;
  background-color: var(--color-white);
  border-bottom: var(--border-primary);
  display: flex;
  justify-content: space-between;
  min-height: var(--header-height);
  padding: var(--size-1) calc(((100% - var(--max-width)) / 2) + var(--size-1));
}

@media only screen and (max-width: 80em) {
  .header {
    padding: var(--size-1);
  }
}

.link {
  background-color: var(--color-1-1);
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-size: var(--font-size-6);
  padding: var(--size-0);
  text-decoration: none;
}
