.footer {
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-1-1);
  display: flex;
  min-height: var(--footer-height);
  padding: var(--size-1) calc(((100% - var(--max-width)) / 2) + var(--size-1));
}

@media only screen and (max-width: 80em) {
  .footer {
    padding: var(--size-1);
  }
}
