.post {
  border: var(--border-primary);
  border-radius: var(--border-radius);
  margin: var(--size-4) 0;
  padding: var(--size-1) var(--size-2);
}

.title {
  color: var(--color-primary);
  margin-bottom: var(--size-1);
}
