@import-normalize;
@import-sanitize;

:root {
  /* Colors */
  --color-white: #fdfdff;
  --color-gray: #535657;
  --color-gray-light: #e0e0e0;
  --color-primary: #95625f;
  --color-secondary: #326886;
  --color-danger: #d61f1f;
}
