:root {
  /* Sizing */
  --size-0: 0.4rem;
  --size-1: 1.6rem;
  --size-2: 2.262rem;
  --size-3: 3.199rem;
  --size-4: 4.523rem;
  --size-5: 6.396rem;
  --size-6: 9.044rem;
  --size-7: 12.788rem;
  --size-8: 18.083rem;

  /* Layout */
  --max-width: 98rem;
  --header-height: 8rem;
  --footer-height: 8rem;

  /* Colors */
  --color-white: #fff;
  --color-1: #08090a;
  --color-2: #323ebe;
  --color-3: #eef0f1;
  --color-4: #d2d6db;
  --color-danger: #d61f1f;

  /* Fonts */
  --font-primary: verdana, geneva, tahoma, sans-serif;
  --font-secondary: poppins, sans-serif;
  --font-weight: 400;
  --line-height: 1.6;
  --font-size-1: 1.6rem;
  --font-size-2: 2.262rem;
  --font-size-3: 3.199rem;
  --font-size-4: 4.523rem;
  --font-size-5: 6.396rem;
  --font-size-6: 9.044rem;

  /* Borders */
  --border-primary: 2px solid var(--color-1);
  --border-secondary: 2px solid var(--color-2);
  --border-radius: var(--size-0);
}
