.nav {
  padding: 1rem 0;
}

@media only screen and (min-width: 56.25em) {
  .nav {
    background-color: var(--color-primary);
    margin-right: 4rem;
    min-width: 20rem;
    padding: 0;
  }
}

.dropdown {
  display: inline-block;
  position: relative;
}

@media only screen and (min-width: 56.25em) {
  .dropdown {
    width: 100%;
  }
}

.dropBtn {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font-size: 2rem;
  padding: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .dropBtn {
    display: none;
  }
}

.dropTitle {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
  display: none;
  font-size: 2rem;
  padding: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .dropTitle {
    cursor: inherit;
    display: block;
    outline: none;
    width: 100%;
  }
}

.links {
  background-color: var(--color-gray-light);
  display: none;
  min-width: 20rem;
  position: absolute;
  z-index: 1;
}

@media only screen and (min-width: 56.25em) {
  .links {
    background-color: var(--color-primary);
    display: block;
    min-width: 0;
    position: relative;
    z-index: 0;
  }
}

.link {
  color: var(--color-primary);
  display: block;
  padding: 2rem 4rem;
  text-decoration: none;
}

@media only screen and (min-width: 56.25em) {
  .link {
    color: var(--color-white);
    width: 100%;
  }
}

.link:hover,
.link:focus {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

@media only screen and (min-width: 56.25em) {
  .link:hover,
  .link:focus {
    background-color: var(--color-white);
    color: var(--color-secondary);
  }
}

.dropdown:hover .links,
.dropdown:focus-within .links {
  display: block;
}

.dropdown:hover .drop-btn,
.dropdown:focus-within .drop-btn {
  background-color: var(--color-secondary);
}

@media only screen and (min-width: 56.25em) {
  .dropdown:hover .drop-btn,
  .dropdown:focus-within .drop-btn {
    background-color: var(--color-primary);
  }
}
